@import "styles/variables";

.menu {
  padding: 20px $padding-inline;
}

.header {
  background-image: url("/assets/Menu/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  padding: 0 $padding-inline;
  &__text {
    color: white;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}
